.column {
  float: left;
  width: 49%;
  padding: 2px;
}
/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
img.round {
    border-radius: 5%;
}

.arrow {
  border: solid darkorange;
  border-width: 0 7px 7px 0;
  display: inline-block;
  padding: 10px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
* {
box-sizing: border-box;
}

body {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
font-family: Arial, sans-serif;
}

.card {
background: antiquewhite;
border-radius: 5px;
display: inline-block;
margin: 20px;
position: relative;
width: 800px;
text-align: center;
animation: fadeIn 2s ease;
animation-fill-mode: both;
opacity: 0;
}

/*.card:nth-child(3) {*/
/*animation-delay: 2s; !* First card appear after 0.5s *!*/
/*}*/

/*.card:nth-child(4) {*/
/*animation-delay: 2s; !* Second card appear after 1s *!*/
/*}*/

/*.card:nth-child(5) {*/
/*animation-delay: 2s; !* Third card appear after 1.5s *!*/
/*}*/

@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}

.card img {
border-radius: 50%;
max-width: 200px;
}

.card .text {
padding: 20px;
color: gray;
}
